{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div style="margin: 20px 0 20px 0;">
        <a href="{% url 'car_create' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Add car</button>
        </a>
        <a href="{% url 'car_read' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Show yours cars</button>
        </a>
        <a href="{% url 'offer_read' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Show your offers</button>
        </a>
        <a href="{% url 'rent_read' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Show your rents</button>
        </a>
    </div>
<h1>Available cars:</h1>
{% for car in cars %}

<li>
{% if car.car_photo %}
    <img class="rounded float-start" style="display: flex; max-width: 200px;" src="{{ car.car_photo.url }}">
{% else %}
    <p style="text-align: center;">No photo available</p>
{% endif %}
        {{ car.car_brand }} {{ car.car_model }} {{ car.serial_number }} {{ car.date_of_prod }} {{ car.car_mileage }}
</li>
{% endfor %}
{% endblock body %}