{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
{% block content %}
    <h3 style="margin-top: 10px;">Add car:</h3>
    <hr>
<form method="post" enctype="multipart/form-data" style="margin-top: 10px;">
  {% csrf_token %}
    {{ form.car_brand|as_crispy_field }}
    {{ form.car_model|as_crispy_field }}
    {{ form.vin|as_crispy_field }}
    {{ form.date_of_prod|as_crispy_field }}
    {{ form.car_mileage|as_crispy_field }}
    {{ form.car_photo|as_crispy_field }}
    <legend style="font-size: 12px; color: gray; margin-top: -11px;">*Required fields</legend>
  <input type="submit" class="btn btn-secondary" value="Add car">
</form>
{% endblock %}
{% endblock body %}