{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h2 style="margin-top: 10px;">FOUND CARS:</h2>
    <hr>
  {% if offers %}
    {% for offer in offers %}
      {% with rent=offer.rent_set.first %}
        {% if offer.user != request.user and not rent %}
          <a href="{% url 'offer_result' car_id=offer.car.pk offer_id=offer.pk %}" class="btn btn-outline-secondary" style="padding: 5px; margin-top: 5px;">
            {{ offer.car.car_brand }} {{ offer.car.car_model }}
          </a>
        {% endif %}
      {% endwith %}
    {% endfor %}
  {% else %}
    <p style="margin-top: 20px">No results for {{ search }}.</p>
  {% endif %}
{% endblock %}
