{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div style="margin: 20px 0 20px 0;">
        <a href="{% url 'offer_create' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Create offer</button>
        </a>
        <a href="{% url 'car_read' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Show yours cars</button>
        </a>
        <a href="{% url 'offer_read' %}">
           <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Show your offers</button>
        </a>
    </div>
<h3>Available offers:</h3>
{% for offer in offers %}
    <li>{{ offer.car }}, {{ offer.price }} PLN, {{ offer.description }}
        <a href="{% url 'offer_update' offer_id=offer.id %}">
            <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">EDIT</button>
        </a>
        <a href="{% url 'offer_delete' pk=offer.id %}">
            <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">DELETE</button>
        </a>
    </li>
{% endfor %}
{% endblock body %}