{% extends 'base.html' %}
{% load static %}

{% block body %}
    <style>
        .description-field {
            height: auto;
            width: 450px;
            overflow-y: auto;
        }
        .offer-details-container {
            display: flex;
            align-items: flex-start;
        }
        .no-photo {
            padding: 35px;
            text-align: center;
            display: flex;
            width: 200px;
            margin-right: 10px;
        }
    </style>

    <h2 style="margin-top: 10px;">OFFER DETAILS</h2>
    <hr>
    <div class="offer-details-container">
        {% if offer.car.car_photo %}
            <img class="rounded float-start" style="display: flex; max-width: 200px; margin-right: 10px;" src="{{ offer.car.car_photo.url }}" alt="Car photo">
        {% else %}
            <div class="no-photo">
                No photo available
            </div>
        {% endif %}
        <div style="flex-direction: column;">
            <label>
                <textarea class="form-control description-field" readonly>{{ offer.description }}</textarea>
            </label>
            <p style="margin-bottom: 0;">Shared by {{ offer.user }}</p>
            <a href="{% url 'all_offers' %}" class="btn btn-outline-secondary" style="padding: 3px; margin-top: 5px;">PREVIOUS PAGE</a>
        </div>
    </div>
{% endblock body %}
