{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
{% block content %}
{% if message %}
  <p>{{ message }}</p>
 <button><a href="{% url 'all_offers' %}">Back</a></button>
  <br><br>
  {% if not message == "This offer is already rented." %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Submit">
    </form>
  {% endif %}
{% else %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    <button><a href="{% url 'all_offers' %}">Back</a></button>
  </form>
{% endif %}

{% endblock %}
{% endblock body %}