{% extends 'base.html' %}
{% load static %}

{% block body %}
    <a href="{% url 'rent_archive' %}" class="btn btn-secondary" style="display: flex; justify-content: center; align-items: center;">RENT ARCHIVE</a>
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1; border-right: 1px grey solid;">
            <h1 style="padding: 10px; margin-top: 10px; margin-right: 10px; border: 1px black solid; border-radius: 5px; background-color: #efefef">YOUR RENTS</h1>
            <hr>
            {% for rent in rents_as_renter %}
                <div style="display: flex; flex-direction: column">
                    <p style="margin-bottom: 10px; margin-top: 10px;">{{ rent.offer.car.car_brand }} {{ rent.offer.car.car_model }} rented for {{ rent.duration }} days, for {{ rent.offer.price }} PLN/day.</p>
                    <a href="{% url 'rent_detail' rent.id %}" class="btn btn-outline-secondary" style="padding: 1px; margin-bottom: 1px; width: 40%;">CLICK FOR MORE DETAILS</a>
                </div>
                <hr>
            {% empty %}
                <p>No rents found. &#128663;</p>
            {% endfor %}
        </div>
        <div style="flex: 1;">
            <h1 style="border-radius: 5px; padding: 10px; border: 1px black solid; margin-top: 10px; margin-left: 10px; background-color: #efefef">RENTED FROM YOU</h1>
            <hr>
            {% for rent in rents_as_owner %}
                <div style="display: flex; flex-direction: column">
                    <p style="margin-left: 20px; margin-bottom: 10px; margin-top: 10px;">{{ rent.offer.car.car_brand }} {{ rent.offer.car.car_model }}, rented to {{ rent.rent_end }} - {{ rent.status }}. Rented by: {{ rent.user }}</p>
                    <form action="{% url 'close_rent' rent.id %}" method="post" style="margin-left: 20px;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary" style="padding: 1px; margin-bottom: 1px; width: 40%;">CLOSE RENT</button>
                    </form>
                </div>
                <hr>
            {% empty %}
                <p style="margin-left: 20px;">No rents found. &#128663;</p>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
