{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}


{% block body %}
{% block content %}
{% if message %}
  <p style="margin-top: 10px;">{{ message }}</p>
 <a href="{% url 'all_offers' %}" class="btn btn-secondary">Back</a>
  <br><br>
  {% if not message == "This offer is already rented." %}
  {% if not message == "You cannot rent your own car." %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-secondary" value="Submit">
    </form>
  {% endif %}
  {% endif %}
{% else %}
  <form method="post">
    {% csrf_token %}
    {{ form.rent_start|as_crispy_field }}
    {{ form.duration|as_crispy_field }}
      <legend style="font-size: 12px; color: gray; margin-top: -11px;">*Required fields (Maximum duration is 30 days)</legend>
    <input type="submit" class="btn btn-secondary" value="Rent">
    <a href="{% url 'offer_read' %}" class="btn btn-outline-secondary" style="margin: 0 20px 0 20px;">Back</a>
  </form>
{% endif %}

{% endblock %}
{% endblock body %}