{% extends 'base.html' %}
{% load static %}

{% block body %}
    <h2 style="margin-top: 10px;">RENT DETAILS</h2>
    <hr>
    <div style="display: flex; align-items: flex-end;">
        <img class="rounded float-start" style="display: flex; max-width: 200px; margin-right: 10px;" src="{{ rent.offer.car.car_photo.url }}">
        <div style="flex-direction: column;">
            <p style="margin-bottom: 0;">Status: {{ rent.status }}</p>
            <p style="margin-bottom: 0;">Rent Start: {{ rent.rent_start }}</p>
            <p style="margin-bottom: 0;">Expected return date: {{ rent.rent_end }}</p>
            <p style="margin-bottom: 0;">Rented from: {{ rent.offer.user }}</p>
            <a href="{% url 'rent_panel' %}" class="btn btn-outline-secondary" style="padding: 3px; margin-top: 5px;">PREVIOUS PAGE</a>
        </div>
    </div>
{% endblock body %}
