{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <h3>Edit Profile</h3>
  </form>
  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ user_form.username|as_crispy_field }}
  {{ user_form.email|as_crispy_field }}
  {{ user_form.first_name|as_crispy_field }}
  {{ user_form.last_name|as_crispy_field }}
  {{ profile_form.location|as_crispy_field }}
  {{ profile_form.image|as_crispy_field }}
  <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">SAVE</button>
</form>
{% endblock body %}
