{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="home-title">
    <a>TAKE&DRIVE</a>
</div>
<div>
    <img src="{% static 'image/car.png' %}" class="img-home" alt="car">
</div>

<div class="container" style="margin-top: 20px;">
    <h1>Available offers:</h1>
    {% for offer in offers %}
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-3">
                {% if offer.car.car_photo %}
                    <img class="rounded float-start" style="max-width: 200px;" src="{{ offer.car.car_photo.url }}">
                {% else %}
                    <p>No photo available</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p>{{ offer.car }}</p>
                <p>Price: {{ offer.price }}</p>
                <p>Description: {{ offer.description }}</p>
                <p>Renter: {{ offer.user }}</p>
            </div>
            <div class="col-md-3">
                <a href="{% url 'rent_create' offer.id %}" class="position-link btn btn-secondary">
                    <div class="position-box">
                        <span class="position-title">RENT</span>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}
