{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <h4 style="margin-top: 20px;">Your profile: {{ user.username }}</h4>
    <p>Email   : {{ user.email }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <a href="{% url 'edit_profile' %}">
        <button type="submit" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Edit your profile</button>
    </a>
    <a href="{% url 'car_read' %}">
        <button type="submit" class="btn btn-secondary">Renter profile</button>
    </a>
{% endblock body %}