{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="profile-info-container" style="background-color: #eeeeee; border-radius: 10px; padding: 10px; margin-top: 20px;">
    <h4 style="margin-top: 20px;">Your profile: {{ user.username }}</h4>
    {% if user.profile.image %}
        <img style="border: 5px solid #555; vertical-align: middle; width: 200px; height:200px; border-radius: 50%; margin-bottom: 10px;" class="rounded-circle" src="{{ user.profile.image.url }}" alt="Avatar">
    {% else%}
        <img  style="border: 5px solid #555; vertical-align: middle; width: 200px; height:200px; border-radius: 50%; margin-bottom: 10px;" class="rounded-circle" src="{% static 'image/avatar.jpg' %}" alt="Avatar"class="card-img">
    {% endif %}
    <p style="background-color: white; padding: 2px; border-radius: 3px;">Email   : {{ user.email }}</p>
    <p style="background-color: white; padding: 2px; border-radius: 3px;">First name: {{ user.first_name }}</p>
    <p style="background-color: white; padding: 2px; border-radius: 3px;">Last name: {{ user.last_name }}</p>
    <p style="background-color: white; padding: 2px; border-radius: 3px;">Location: {{ user.profile.location }}</p>
    <a href="{% url 'edit_profile' %}" class="btn btn-secondary" style="margin: 0 20px 0 20px;">Edit your profile</a>
    <a href="{% url 'car_read' %}" class="btn btn-outline-secondary" style="margin: 0 20px 0 20px;">Renter profile</a>
    </div>
{% endblock body %}